.intro-section {
    height: ~"calc(100vh - @{header-height})";
    background-color: @colors[grey-20];

    padding: 3.2rem 3.2rem 0;

    position: relative;

    // LINE DECORATION
    &::before {
        content: "";
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: url("../../css-images/LineDecoration.png");
        background-size: 48%;
        background-position: top left;
        background-repeat: no-repeat;
    }

    // WRITING DECORATION
    &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: url("../../css-images/WritingDecoration.png");
        background-size: 45%;
        background-position: top right;
        background-repeat: no-repeat;
    }

    &__content {
        height: 100%;
        max-width: @grid-width;
        margin: 0 auto;
        position: relative;
        z-index: 5;

        display: grid;
        grid-template-columns: repeat(4, 6.4rem) repeat(8, minmax(0, 1fr));
        gap: @grid-gutter;

        padding-bottom: 3.2rem;
    }

    &__image {
        grid-column: span 4;
        background-color: @colors[grey-80];
        border: .2rem solid @colors[grey-80];
        border-radius: .4rem;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: top;

            width: 100%;
            height: 100%;
        }
    }

    &__text-side {
        grid-column: span 7;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__social-links {
        position: absolute;
        bottom: 0;
        right: 0;

        display: flex;
        align-items: flex-end;
        gap: 2.4rem;
    }
}

.about-section {
    #display-12-grid();

    &__text-side {
        grid-column: span 7;
    }

    &__favourites-side {
        grid-column: span 5;
    }

    &__favourite-section {
        display: flex;
        gap: 2.4rem;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        > :first-child {
            flex: 0 0 6.4rem;
        }

        > :last-child {
            flex: 2;
        }
    }
}

.skills-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3.2rem;
}

.projects-section {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;

    &__project {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 3.2rem;

        &:nth-child(2n) {
            flex-direction: row;
        }

        > * {
            flex: 2 0;
        }
    }

    &__project-image {
        width: 100%;
    }
}