.intro-section {
    height: 100vh;
    max-height: 105rem;
    background-color: @colors[grey-60];

    display: flex;
    flex-direction: column;

    @media (min-width: @page-margin-breakpoint) {
        height: ~"calc(100vh - 3.2rem)";
    }

    &__content {
        flex: 2;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 3.2rem;

        background-image: linear-gradient(rgba(@colors[black], .5), rgba(@colors[black], .5)), url("../../assets/img/NoImage.png");
        background-size: cover;
        background-position: center;

        @media (max-width: @navigation-breakpoint) {
            position: relative;
            z-index: 50;
        }
        @media (max-width: @small-margin-breakpoint) {
            padding: 3.2rem 1.6rem;
        }
    }

    &__welcome-text {
        #display-12-grid();
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        #respond-phone({
            gap: 0;
        });

        > * {
            grid-column: 3 / span 8;

            @media (max-width: #pxToEm(730)[]) {
                grid-column: 2 / span 10;
            }
            #respond-phone({
                grid-column: 1 / span 12;
            });
        }
    }

    &__header {
        flex: 0 0 5.6rem;
        background-color: @colors[grey-80];
    }
}

.project {
    #display-12-grid();

    #respond-phone({
        column-gap: 0;
    });

    &__image {
        grid-column: 1 / span 4;
        background-color: @colors[primary];
        border: .4rem solid @colors[primary];

        @media (max-width: #pxToEm(1030)[]) {
            grid-column: 1 / span 5;
        }
        #respond-tab-port({
            grid-row: 2;
            grid-column: 3 / span 8;
        });
        @media (max-width: #pxToEm(720)[]) {
            grid-column: 2 / span 10;
        }
        #respond-phone({
            grid-column: 1 / span 12;
        });

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        grid-column: 5 / span 8;

        @media (max-width: #pxToEm(1030)[]) {
            grid-column: 6 / span 7;
        }
        #respond-tab-port({
            grid-column: 1 / span 12;
        });
    }
}

.about-section {
    padding-right: 3.2rem;

    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(0, @grid-column-width)) 1fr;
    gap: @grid-gutter;

    background-color: @colors[bg-grey];

    #respond-phone({
        gap: 0;
    });
    @media (max-width: @small-margin-breakpoint) {
        padding-right: 1.6rem;
    }

    &__image {
        grid-column: 1 / span 6;
        background-color: @colors[grey-60];

        @media (max-width: #pxToEm(1150)[]) {
            display: none;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        grid-column: 7 / span 7;

        padding: 3.2rem 0;

        @media (max-width: #pxToEm(1150)[]) {
            grid-column: 1 / span 14;
            padding-left: 3.2rem;
        }
        @media (max-width: @small-margin-breakpoint) {
            padding-left: 1.6rem;
        }
    }
}

.favourite-section {
    #display-12-grid();

    #respond-phone({
        column-gap: 0;
    });
}

.favourite-part {
    grid-column: span 12;
    display: flex;

    @media (max-width: #pxToEm(1150)[]) {
        grid-column: span 6;
    }
    #respond-tab-port({
        grid-column: span 12;
    });
    @media (max-width: #pxToEm(350)[]) {
        flex-direction: column;
    }

    &__icon {
        flex: 0 0 5.6rem;
        height: 5.6rem;

        svg {
            width: 100%;
            height: 100%;
            fill: @colors[primary];
        }
    }

    &__content {
        padding-left: 1.6rem;

        flex: 2;

        @media (max-width: #pxToEm(350)[]) {
            padding-left: 0;
            padding-top: 1.6rem;
            text-align: center;
        }
    }
}

.skills {
    #display-12-grid();

    #respond-phone({
        column-gap: 0;
    });

    > div {
        grid-column: span 4;

        #respond-tab-port({
            grid-column: span 6;
        });
        #respond-phone({
            grid-column: span 12;
        });
    }
}

.portfolio {
    #display-12-grid();

    #respond-phone({
        column-gap: 0;
    });

    > div {
        grid-column: span 4;

        @media (max-width: #pxToEm(1060)[]) {
            grid-column: span 6;
        }
        @media (max-width: #pxToEm(650)[]) {
            grid-column: span 12;
        }
    }
}