body {
    font-family: 'Source Sans Pro', sans-serif;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    line-height: 1;

    text-transform: uppercase;
    color: @colors[grey-80];
}
.heading-primary { font-size: 4.4rem; }
.heading-secondary { font-size: 3.6rem; }
.heading-tertiary { font-size: 2.8rem; }

.paragraph {
    font-size: 2rem;
    line-height: 2.8rem;

    color: @colors[grey-60];
}

::selection {
    background-color: @colors[primary];
    color: @colors[white];
}