@colors: {
    primary: #25C750;

    black: #000;
    grey-80: #262927;
    grey-60: #646F67;
    grey-40: #9DACA1;
    grey-20: #E9F4EC;
    white: #FFF;

    bg-grey: #EEF5F0;
}


@max-page-width: 180rem;
@grid-width: 112rem;
@grid-gutter: 3.2rem;
@grid-column-width: 6.4rem;