.section {
    padding: 3.2rem;

    &--grey-background {
        background-color: @colors[grey-20];
    }

    &--with-background-image {
        background-image: url("../../css-images/LineBackgroundDecoration.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 45%;
    }
    
    &__content {
        margin: 0 auto;
        max-width: @grid-width;
    }
}