.button-primary {
    &:link, &:visited {
        display: inline-block;
        font-size: 2rem;
        line-height: 2rem;

        padding: 1.2rem 2.4rem;

        color: @colors[white];
        background-color: @colors[primary];
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;

        user-select: none;

        transition: all .1s;

        outline-color: @colors[grey-80];
        outline-offset: .4rem;
    }

    &:hover, &:focus-visible {
        background-color: darken(@colors[primary], 5%);
    }

    &:active {
        background-color: darken(@colors[primary], 10%);
    }

    &--animated {
        &:link, &:visited {
            animation: scaleIn .3s .6s ease-out both;
        }
    }
}