.link {
    &:link, &:visited {
        color: @colors[primary];
        text-decoration: underline;

        border-radius: .4rem;

        transition: all .1s;
    }

    &:hover {
        color: @colors[white];
        background-color: @colors[primary];
    }
}